{% extends 'base.html' %} {% block main_part %}

<section class="content-wrapper">
  <div class="container">
    <div class="title">
      <h1>About us</h1>
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales
      blandit nisi, eu molestie nulla facilisis nec. Nunc vitae lacus vi
    </p>
    <div class="clear team-wrap">
      <h3>Who We Are</h3>
      <div class="row">
        <article class="col-md-3 team-item">
          <div class="img">
            <img src="img/img10.jpg" alt="" />
          </div>
          <div class="team-text">
            <h4>Alisa Jobs</h4>
            <p>
              Quisque vulputate facilisis quam, a fringilla purus varius at.
              Aliquam u facilisi
            </p>
            <div class="spec">Web-Designer</div>
            <ul class="social">
              <li>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              </li>
            </ul>
          </div>
        </article>
        <article class="col-md-3 team-item">
          <div class="img">
            <img src="img/img9.jpg" alt="" />
          </div>
          <div class="team-text">
            <h4>Nathan Lee</h4>
            <p>
              Quisque vulputate facilisis quam, a fringilla purus varius at.
              Aliquam ut soda
            </p>
            <div class="spec">Front-end Developer</div>
            <ul class="social">
              <li>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              </li>
            </ul>
          </div>
        </article>
        <article class="col-md-3 team-item">
          <div class="img">
            <img src="img/img11.jpg" alt="" />
          </div>
          <div class="team-text">
            <h4>Jack Maroon</h4>
            <p>
              Quisque vulputate facilisis quam, a fringilla purus varius at.
              Aliquam ut sodales quam,
            </p>
            <div class="spec">Back-end Developer</div>
            <ul class="social">
              <li>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              </li>
            </ul>
          </div>
        </article>

        <article class="col-md-3 team-item">
          <div class="img">
            <img src="img/img11.jpg" alt="" />
          </div>
          <div class="team-text">
            <h4>Jack Maroon</h4>
            <p>
              Quisque vulputate facilisis quam, a fringilla purus varius at.
              Aliquam ut sodales quam,
            </p>
            <div class="spec">Back-end Developer</div>
            <ul class="social">
              <li>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              </li>
            </ul>
          </div>
        </article>
        <br /><br /><br /><br /><br />
      </div>
    </div>
  </div>
</section>

{% endblock %}
