{% extends 'base.html' %}

{% block main_part %}

<section class="content-wrapper">
  <div class="container">
    <article class="col-12 text-left">
      <h1>Domain Search</h1>
      <form class="search-form" method='POST' action="/search">
        <input type="text" id="domain_name" name="domain_name" placeholder="Search Your Domain...">
        <button class="search-button" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
      </form>

      {% if request %}
        <table class="table">
          <thead>
            <tr>
              <th>DOMAIN: "{{ domain_name }}"</th>
              <th></th>
            </tr>
          </thead>
          <tbody>

          <tr>
                <th>INFO</th>
                <th></th>
              </tr>
              <tr>
                <td>Parent</td>
                <td>{{ parent }}</td>
              </tr>
              <tr>
                <td>Registrant</td>
                <td>{{ registrant }}</td>
              </tr>
              <tr>
                <td>Controller</td>
                <td>{{ controller }}</td>
              </tr>
                <td>Expiration Date</td>
                <td>{{ expiration_date }}</td>
              </tr>
              <tr>
                <td>Resolver</td>
                <td>{{ domain_info }}</td>
              </tr>
          </tbody>
          <tbody>
              <tr>
                <th>ADDRESSES</th>
              </tr>
              <tr>
                <td>Address</td>
                <td>{{ address }}</td>
              </tr>
          </tbody>
              <tr>
                <th>TEXT RECORD</th>
              </tr>

              <tr>
                <td>Email</td>
                <td>{{ email }}</td>
              </tr>
              <tr>
                <td>Url</td>
                <td>{{ url }}</td>
              </tr>
              <tr>
                <td>Avatar</td>
                <td>{{ avatar }}</td>
              <tr>
                <td>Description</td>
                <td>{{ description }}</td>
              </tr>
              <tr>
                <td>Notice</td>
                <td>{{ notice }}</td>
              </tr>
              <tr>
                <td>Keywords</td>
                <td>{{ keywords }}</td>
              </tr>
              <tr>
                <td>com.dicord</td>
                <td>{{ dicord }}</td>
              </tr>
              <tr>
                <td>com.github</td>
                <td>{{ github }}</td>
              </tr>
              <tr>
                <td>com.reddit</td>
                <td>{{ reddit }}</td>
              </tr>
              <tr>
                <td>com.telegram</td>
                <td>{{ telegram }}</td>
              </tr>
          </tbody>
        </table>
      {% else %}
        <h3></h3>
      {% endif %}
      <a href="{{ url_for('display_page', page='connect_wallet') }}" class="action-button">Register Now</a>
    </article>
  </div>
</section>

{% endblock %}
